.home .banners {
    height: 500px;
    position: relative;
}

.home .banners .banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}

.home .banners .banner .banner-img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.home .banners .banner .banner-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.home .banners .banner .banner-img .overlay-btn {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.home .banners .banner .banner-img:hover .overlay-btn {
    opacity: 1;
}

.custom-btn-view-detail{
    background-color: #FB6222;
    height: 40px;
    color: white !important;
}

.home .banners .banner .banner-img .overlay-title-1{
    position: absolute;
    top: 0;
    background: #FF99FF;
    transition: 0.5s ease;
    height: 150px;
    width: 20%;
    border-bottom-right-radius: 100%;
    font-size: 30px;
    color: white;
}

.overlay-title-1 .text{
    padding-left: 10px;
    padding-top: 30px;
}

.home .banners .banner .banner-img .overlay-title-2{
    position: absolute;
    top: 0;
    right: 0;
    background: #FF99FF;
    transition: 0.5s ease;
    height: 70px;
    width: 25%;
    border-bottom-left-radius: 100%;
    font-size: 18px;
    color: white;
    text-align: right;
}

.overlay-title-2 .text{
    padding-right: 10px;
    padding-top: 15px;
}